<!doctype html>

<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <title>Book Catalogue</title>
    <link
      rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.lime.min.css"
    >
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- Nav section -->
    <header hx-get="/template/headers/books" hx-trigger="load" hx-swap="outerHTML">
    </header>

    <!-- Book catalogue section -->
    <main>
        <div hx-get="/template/books/catalogue" hx-trigger="load"></div>   
    </main>

  </body>
</html>
